# Common dependencies
-r common.txt

numba # Required for N-gram speculative decoding

# Dependencies for NVIDIA GPUs
# in NVIDIA branches, torch/torchvision/torchaudio (and anything that depends on PyT)
# should remain unpinned, as we build them ourselves at all matching versions
torch
torchvision  # Required for phi3v processor. See https://github.com/pytorch/vision?tab=readme-ov-file#installation for corresponding version
flashinfer-python  # version controlled by Dockerfile.pip wheel image
flashinfer-cubin  # version controlled by Dockerfile.pip wheel image
apache-tvm-ffi==0.1.9
tilelang==0.1.9
nvidia-cudnn-frontend>=1.19.1

# Required for faster safetensors model loading
fastsafetensors >= 0.3.2

# QuACK and Cutlass DSL for FA4 (cute-DSL implementation)
# Hard-pinned for internal container reproducibility.
nvidia-cutlass-dsl[cu13]==4.5.2
quack-kernels==0.4.1

# Tokenspeed_MLA for faster mla with spec decode
tokenspeed-mla==0.1.2

# Humming kernels for quantization gemm
humming-kernels[cu13]==0.1.6
